body {
  background: url(../AssetsMapa/interdimensional-ultimatum-fanart-by-me-v0-tdtmxslnwlra1.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  size: 100%;
  width: 70%;
}
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#start-journey {
  margin: 60%;
}
#answer-message {
  color: aquamarine;
}
#correct-answer {
  color: rgb(39, 183, 39);
}
#incorrect-answer {
  color: rgb(183, 39, 39);
}
#logo-img {
  width: 20%;
}
#map-img {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#map-actual-img {
  width: 110%;
}
#options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}
button {
  width: 250px;
  height: 60px;
  background-color: #dd8d00 !important;
  border-color: #dd8d00 !important;
  margin: 5px;
}
#level {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
}
